#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "huginn"
name = "Huginn"
description.en = "Build agents that monitor and act on your behalf"
description.fr = "Créez des agents qui surveillent et agissent en votre nom"

version = "2026.02.01~ynh1"

maintainers = ["aurel"]

[upstream]
license = "MIT"
code = "https://github.com/huginn/huginn"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

    [install.invitation]
    ask.en = "Choose an invitation code for new users"
    type = "string"
    example = "invitationcode"

[resources]
    [resources.sources.main]
    url = "https://github.com/huginn/huginn/archive/ac933cf5263b05499c3297b483a29483dfd4c803.tar.gz"
    sha256 = "c169d6b890b162afb26f6ef3c24b5222494279e8e0eae985dbb7c06d6ebed1ae"

    # Yeah there is a release but it's 2 years old and the doc tells to git commit…
    autoupdate.strategy = "latest_github_commit"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "mariadb-server",
        "default-libmysqlclient-dev",
        "libyaml-dev",
        "libgdbm-dev",
        "libncurses5-dev",
        "libffi-dev",
        "libcurl4-openssl-dev",
        "libicu-dev",
        "python3-docutils",
        "pkg-config",
        "cmake",
        "graphviz",
        "jq",
        "openssl",

        "autoconf",
        "automake",
        "bison",
        "build-essential",
        "curl",
        "libjemalloc-dev",
        "libreadline-dev",
        "libsqlite3-dev",
        "libssl-dev",
        "libtool",
        "libxml2-dev",
        "libxslt-dev",
        "zlib1g-dev",
    ]

    [resources.database]
    type = "mysql"

    [resources.ruby]
    version = "3.2.4"
