[Unit]
Description=__APP__-web service
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
EnvironmentFile=__INSTALL_DIR__/.env
Environment="__YNH_RUBY_LOAD_PATH__"
ExecStart=/opt/rbenv/versions/__APP__/bin/bundle exec unicorn -c config/unicorn.rb
StandardOutput=append:__INSTALL_DIR__/log/__APP__-web.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
